*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inria Sans", sans-serif;
}
/* header */
header{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
header ul{
    display: flex;
}
header ul li a{
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}
header ul li a:hover{
    text-decoration: underline;
    color: rgb(141, 24, 141);
}
header ul li{
 padding-top: 20px;
}
header img{
    padding: 5px;
}
/* banner */
.banner {
    background-color:#deccff;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    
}
.sub2 img{
    height: 400px;
    padding-top: 20px;
}
.sub1{
    padding: 100px;
    margin-left: 40px;
}
.sub1 button{
    height: 50px;
    width: 150px;
    
    border-radius: 40px;
    background-color: rgb(119, 17, 119);
    color: white;
    border-color: transparent;
    font-size: medium;
    font-weight: 600;
}
.sub1 button:hover{
    cursor: pointer;
}
/* row 3 */

.row3{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 600px;
}
.search{
    display: flex;
    justify-content: center;
    
}
.search input{
    height: 50px;
    width: 1000px;
    border-color: transparent;
    border-bottom: 2px solid rgb(179, 176, 176);
    outline:none;
    /* to remove black focus border of input textarea */
}


/* row 4 */
.course{
    display: flex;
    justify-content: center; 
    
    height: 770px;
    margin-top: 100px;
    
}
.name{
    height: 740px;
    width: 310px;
    background-color: #f4f2f2;
    margin: 5px;
}

/* hover section */
.name:hover{
    
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    background-color: white;

  
}
.name:hover .oval{
    background-color:rgb(106, 16, 106);
    scale:1.05;
    
}
.name:hover .oval img{
    filter:brightness(0) invert(1); 
    /* Makes the image white */

}
.name:hover .view-btn{
    background-color: rgb(106, 16, 106);
    color: white;
}
.oval{
    display: flex;
    justify-content: center;
    background-color:rgb(228, 227, 227);
    margin-top: 35px;
    margin-left: 80px;
    
    height: 130px;
    border-radius: 80px;
    width: 145px;
    
}

 

#figure{
    padding: 30px;

}
#heading{
    font-size: 20px;
    font-weight: 900;
    color: rgb(106, 16, 106);
    padding: 10px;
}
#para{
    padding: 20px;
}
#next{
    font-weight: 900;
    font-size: 17px;
    margin-left: 20px;
    color: rgb(106, 16, 106);
}
.view-btn{
    height: 50px;
    width: 150px;
    
    border-radius: 40px;
    background-color: #e0e0e0;
    color:rgb(106, 16, 106);
    border: 2px solid rgb(106, 16, 106);
    
    
    font-size: medium;
    font-weight: 600;
    margin-left: 70px;
}



/* row 5 */

.course-2{
    display: flex;
    justify-content: center;
    
    height: 770px;
    
}
/* row 6 */
.course-3{
    display: flex;
    
    
    height: 850px;
    
}
/* row 7-why luminar  */
.hero{
    display: flex;
    
    height: 700px;
}
.person{
    width: 50%;
    height: 600px;
}
.why{
    width: 50%;
    height: 600px;
}
.why li{
    font-weight: 900;
    color: rgb(93, 90, 90);
    font-size: large;
}
/* banner-2-pen */
.pen-image{
    position: relative;
}
.content{
    position: absolute;
    top: 90px;
    left:300px;
}
.join-button{
    height: 50px;
    width: 150px;
    
    border-radius: 40px;
    background-color: white;
    color:rgb(119, 17, 119);
    
    border-color: transparent;
    font-size: medium;
    font-weight: 600;
    margin-left: 350px;
}
.join-button:hover{
    cursor: pointer;
}
/* FOOTER */
.text-reset{
    text-decoration: none;
}